.MainChat
  .MainHeader
    .MainHeader__right
      .MainHeader__right__name
        = @group.name
      %ul.MainHeader__right__members
        Member :    
        %li.MainHeader__right__member
          - @group.users.each do |user|
            = user.name 
    = link_to edit_group_path(@group), class: "MainHeader__edit" do
      Edit
  .Messages
    = render @messages
  
  .Form
    = form_with model: [@group, @message], html: {class: "FormContents"}, local: true do |f|
      .FormField
        = f.text_field :content, class: 'FormField__content', placeholder: 'type a message'
        = f.label :image, class: 'FormField__image' do
          = icon('far', 'image')
          = f.file_field :image, class: 'FormField__image--file'
      = f.submit 'Send', class: 'Send-btn'